<header >Header
  	<h1> Me contacter </h1>
</header>

<setcion id="gallery-container" >
	Discutons !
	Comme vous le voyez, je m'intéresse à pas mal de types de projets différents alors n'hésitez pas à m'écrire si vous pensez qu'on peut faire quelque chose ensemble. Ou bien même pour discuter, tout simplement...
	Mon adresse e-mail : guillaume.tarsi@gmail.com

	Je suis aussi semi-actif sur quelques réseaux sociaux :
	Mon twitter : www.twitter.com/guillaumetarsi
	Mon github : https://github.com/GuillaumeTarsi
	J'ai même un facebook même si j'ai l'impression que c'est déjà devenu ringard : : www.facebook.com/tarsi 

</section>
</div>