/* Artfully masterminded by ZURB  */

/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

html {
  height: 100% !important; 
}
body {
  min-height: 100%  !important;
}

h1 {
	font-size : 2em;
	text-align: center;
}

#possible_actions {
	text-align: center;
    list-style-type: none;
}


.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	bottom : 10%;
	left: 10%;
	width: 75%;
	height: 75%;
}


#footer {
bottom: 0;
}
/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */

