/* Artfully masterminded by ZURB  */

/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

html {
  height: 100% !important; 
}
body {
  min-height: 100%  !important;
}

h1 {
	font-size : 2em;
	text-align: center;
}



#footer {
bottom: 0;
}

p {
	font-family: calibri;
	font-size: 1.2em;
	color : grey;
}

/* -----------------------------------------
   VIDEO LAYOUT
----------------------------------------- */


.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	margin-top : -6%;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	bottom : 10%;
	left: 10%;
	width: 75%;
	height: 75%;
}



/* -----------------------------------------
	POSSIBLE ACTIONS
----------------------------------------- */

#context {
	text-align: center;
}


#possible_actions {
	text-align: center;
    list-style-type: none;
    /*text-transform: uppercase;*/
}

#possible_actions li {
	padding: 10px;
}


#possible_actions .action-button{
	font-size: 1.3em;
	border : 2px grey solid;
	padding: 7px;
	border-radius : 5px;
	background-color : white;
}

#possible_actions .action-button:visited
	{
	color : green;
}

#possible_actions .action-button:hover,
#possible_actions .action-button:focus,
#possible_actions .action-button:active
	{
	color : red;
}



