
/* RESET BY ERIC MEYER */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  /*font-size: 100%;
  font: inherit;
  vertical-align: baseline;*/
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END OF RESET BY ERIC MEYER */


/* RESET PERSO */

  a {
    color: inherit;
    text-decoration: none;
  }

  body * {
    -webkit-box-sizing: boder-box;
    -moz-box-sizing : border-box;
    box-sizing : border-box;
  }

  /* images élastiques */
  img {
    max-width: 100%;
    /*todo replace w/ media queries, or flex-shrink / flex-grow */
    height: auto;
  }

/* END OF RESET PERSO */




* {
  box-sizing: border-box; 
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  margin: 0;
  background: darkblue;
}

body * {
  font-family: Roboto;
  color: white;
}

.col-1 {
  /*flex : 1;*/
}

.col-2 {
  display: flex;
  flex-direction : column;
  flex: 5;
}


  header, footer {
    background: grey;
  }

  header {
    height: 10vh;
  }

  #filter-container {
    display: flex;
    justify-content : center;
    align-items : space-between;
  }

  #filter-container .filter-button {

  }

  footer {
    height: 5vh;
  }

    header, footer, article, nav {
    padding: 1rem;
  }



/* NAV BAR */
nav {
  width: 9rem;
  background: #131968;
}

nav #img_logo {
  min-width: 100px;
  max-width: 100px;

}

nav li {

}

nav li:hover {
  color: red;
  cursor: pointer;
}

nav li a.current {
  color : red;
}

ul#nav-menu {

}

/* END OF NAV BAR */



/* HOME CONTENT */

  main {
    display: flex;
    flex-direction: column;
    min-width: 400px;
      overflow: auto;

  }

  main * {
    text-align: center;
  }

  main {
    flex: 4;
    height : 85vh;
  }

  .content #img_main{
    min-width: 100px;
    max-width: 100px;
  }

/*END OF HOME CONTENT */


#gallery-container {
  padding: 0 2em 0 2em;
  display: flex;
  flex-wrap : wrap;
  justify-content : space-between;
  align-items: flex-start;
}

#gallery-container figure {
  background: green;
  width: 26%;
  position: relative;

  margin: 1rem 0 1rem 0;

    overflow: hidden;
  /* new referential for the positionning of figcaptions */
}


#gallery-container figure img {
  width: 100%;
  display: block; /* delete space due to downstroke in order to align text within figure */
}

figure:hover figcaption {
  top : 5px;
  bottom : 5px;
  opacity: 1;
}

figcaption {
  position: absolute;

  top : 100%;
  bottom: -100%;
  left : 5px;
  right: 5px;

  text-transform: uppercase;
  background-color: black;
  font-weight: bold;

  letter-spacing: 0.01;
  line-height: 1.5;

  opacity: 0;
  transition : all .4s ease-out;

}

/* on 2 columns */
@media screen and (min-width: 700px) and (max-width: 1000px) {
  #gallery-container figure {
    width: 45%;
  }
}


/* on 1 column */

@media screen and (max-width: 700px) {

  #gallery-container {
    justify-content : center;
    align-items : center;
  }
  #gallery-container figure {
    width: 90%;
  }
}



/* switch animation */
/*
.animate-switch-container {
  position:relative;
  background:white;
  border:1px solid black;
  height:40px;
  overflow:hidden;
}

.animate-switch {
  padding:10px;
}

.animate-switch.ng-animate {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.animate-switch.ng-leave.ng-leave-active,
.animate-switch.ng-enter {
  top:-50px;
}
.animate-switch.ng-leave,
.animate-switch.ng-enter.ng-enter-active {
  top:0;
}
*/
/* end of switch animation */



