
#center_container {
	font-size : 24px;
	color: black;
	padding-left: 100px;
	padding-right: 100px;
	text-align: center;
}

#intro .text {
	font-size: 23px;
	text-align: center;
}


#tab_contributteurs {
	background-color: rgba(121,168,184,0.7);
	border : 1px solid black;
	border-radius: 15px;
	padding: 10px ;
	width: 80%;

	margin: 10px auto 30px auto;
}


.contributteur {
	margin : 15px 0 15px 0;
}

.contributteur .pseudo {
	font-weight: bold;
	font-size : 20px;
}

.contributteur .punchline {
	width: 80%;
	margin: auto;
	font-weight: normal;
	font-style: italic;
	font-size : 18px;
}

select {
	background-color: rgba(121,168,184,0.7);
}

#selector_month {
	margin: 30px 10px 0px 5px;
	width : 50%;
	height: 50%;
}

#selector_month option {
    background: rgba(0,0,0,0.3);
}